.choosing-board{
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: #07031A;
    margin-bottom: 5%;
    border-radius: 10px;
}

.card-left, .card-right{
    width: 48%;
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content:space-between;
    border-radius: 40px;
    border-width: 3px;
    border-style: solid;
    border-color: #4F8A8B;
}

.card-image{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
}

.card-button{
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-box{
    width: 40%;
}

.choose-training{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.choose-day{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calendar-container{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 50px;
    background-color: #F4F6FF;
    border-radius: 40px;
}

.calendar-container>h1>a:hover{
    color: #FBD46D;
}

.calendar{
    margin-top: 30px;
    width: 100%;
}

/* The grid */
.day-of-week,
.date-grid {
    display: grid;
    gap: 10px 10px;
    grid-template-columns: repeat(7, 1fr);
    font-size: 25px;
    color: #4F8A8B;
}
.date-grid{
    margin-top: 30px;
}

.day-of-week{
    background-color: rgb(227, 227, 227);
    border-radius: 40px;
}

.day-of-week>div{
    padding: 5px;
    display: flex;
    justify-content: center;
}

.date-grid>a{
    padding: 5px;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    transition: 0.5s;
}

.date-grid>a:hover{
    background-color: #FBD46D;
    color:#4F8A8B;
}

.date-grid a:first-child {
    grid-column: 7;
}

.blocked{
    color:#F4F6FF;
    background-color: rgb(227, 227, 227);
    border-radius: 40px;
}

.blocked:hover{
    color:#F4F6FF !important;
    background-color: rgb(227, 227, 227) !important;

}

